*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat0_3.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat0_4.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat1_3.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/feat1_4.png filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/mesh_3.obj filter=lfs diff=lfs merge=lfs -text
scenes/bicycle/mesh_4.obj filter=lfs diff=lfs merge=lfs -text
scenes/chair/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/chair/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/chair/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/drums/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/drums/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/drums/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/fern/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fern/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/fern/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/fern/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fern/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/fern/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/fern/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/fern/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/ficus/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/ficus/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/ficus/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/flower/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/flower/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/flower/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/flower/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/flower/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/flower/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/flower/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/flower/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/fortress/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fortress/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/fortress/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/fortress/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fortress/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/fortress/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/fortress/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/fortress/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/fortress/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat0_3.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat0_4.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat1_3.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/feat1_4.png filter=lfs diff=lfs merge=lfs -text
scenes/garden/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/garden/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/garden/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
scenes/garden/mesh_3.obj filter=lfs diff=lfs merge=lfs -text
scenes/horns/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/horns/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/horns/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/horns/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/horns/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/horns/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/horns/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/horns/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/horns/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
scenes/hotdog/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/hotdog/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/hotdog/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/leaves/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/leaves/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/leaves/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/leaves/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/leaves/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/leaves/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/leaves/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/leaves/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/lego/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/lego/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/lego/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/materials/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/materials/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/materials/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/mic/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/mic/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/mic/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/orchids/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/orchids/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/orchids/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/orchids/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/orchids/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/orchids/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/orchids/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/orchids/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/room/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/room/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/room/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/ship/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/ship/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/ship/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat0_1.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat0_2.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat0_3.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat0_4.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat1_1.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat1_2.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat1_3.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/feat1_4.png filter=lfs diff=lfs merge=lfs -text
scenes/stump/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/stump/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
scenes/stump/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
scenes/stump/mesh_3.obj filter=lfs diff=lfs merge=lfs -text
scenes/stump/mesh_4.obj filter=lfs diff=lfs merge=lfs -text
scenes/trex/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/trex/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/trex/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
scenes/figure/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/figure/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fox/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fox/feat1_0.png filter=lfs diff=lfs merge=lfs -text
scenes/fox/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
counter/feat0_0.png filter=lfs diff=lfs merge=lfs -text
counter/feat0_1.png filter=lfs diff=lfs merge=lfs -text
counter/feat0_2.png filter=lfs diff=lfs merge=lfs -text
counter/feat0_3.png filter=lfs diff=lfs merge=lfs -text
counter/feat1_0.png filter=lfs diff=lfs merge=lfs -text
counter/feat1_1.png filter=lfs diff=lfs merge=lfs -text
counter/feat1_2.png filter=lfs diff=lfs merge=lfs -text
counter/feat1_3.png filter=lfs diff=lfs merge=lfs -text
counter/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
counter/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
counter/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
counter/mesh_3.obj filter=lfs diff=lfs merge=lfs -text
room2/feat0_0.png filter=lfs diff=lfs merge=lfs -text
room2/feat0_1.png filter=lfs diff=lfs merge=lfs -text
room2/feat0_2.png filter=lfs diff=lfs merge=lfs -text
room2/feat0_3.png filter=lfs diff=lfs merge=lfs -text
room2/feat1_0.png filter=lfs diff=lfs merge=lfs -text
room2/feat1_1.png filter=lfs diff=lfs merge=lfs -text
room2/feat1_2.png filter=lfs diff=lfs merge=lfs -text
room2/feat1_3.png filter=lfs diff=lfs merge=lfs -text
room2/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
room2/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
bonsai/feat0_0.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat0_1.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat0_2.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat0_3.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat1_0.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat1_1.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat1_2.png filter=lfs diff=lfs merge=lfs -text
bonsai/feat1_3.png filter=lfs diff=lfs merge=lfs -text
bonsai/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
bonsai/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
bonsai/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
bonsai/mesh_3.obj filter=lfs diff=lfs merge=lfs -text
kitchen/feat0_0.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat0_1.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat0_2.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat0_3.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat1_0.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat1_1.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat1_2.png filter=lfs diff=lfs merge=lfs -text
kitchen/feat1_3.png filter=lfs diff=lfs merge=lfs -text
kitchen/mesh_0.obj filter=lfs diff=lfs merge=lfs -text
kitchen/mesh_1.obj filter=lfs diff=lfs merge=lfs -text
kitchen/mesh_2.obj filter=lfs diff=lfs merge=lfs -text
scenes/durian/feat0_0.png filter=lfs diff=lfs merge=lfs -text
scenes/durian/feat1_0.png filter=lfs diff=lfs merge=lfs -text
paper.pdf filter=lfs diff=lfs merge=lfs -text
